  <div class='sassTEST'>Here</div>
  <app-parameter-drop></app-parameter-drop>
  <a materialize="tooltip" class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">Hover me!</a>

  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn" href="#modal1">modal1</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div> 
 
  <button class="btn" (click)="clickIt()">Click</button>
          <a materialize="tooltip" class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">Hover me!</a>

<!--<input type="text" pTooltip="Enter your username" tooltipPosition="top">
<p-calendar [(ngModel)]="value"></p-calendar>
-->

 <input materilize type="date" class="datepicker">
        
 
