<div class='container'>
    <h2 class="sub-header">Add {{ MetaAddTitle }}</h2>
    <div class="row">
        <div class="row">
            <div class="card horizontal col s6 hoverable">
                <form class="col s12" id="form1">
                    <div class="card">
                        <div class="card-content">
                            <div class="input-field ">
                                <i class="material-icons prefix"></i>
                                <input id="name" name="pname" [(ngModel)]="model.name" type="text" pattern='{{ MetaPattern }}' class="validate">
                                <label for="pname" data-error="Alpha only" data-success="Correct!">{{ MetaAddPrompt }}</label>
                            </div>
                        </div>
                        <div class="card-action">
                            <a class="waves-effect waves-light" (click)="onSubmit()"><i class="material-icons left small">add</i>Add</a>
                            <button class="waves-effect waves-light btn-flat" (click)="$('#form1').reset()"> Cancel</button>

                        </div>
                    </div>
                </form>
            </div>
            <div class="card horizontal col s6">

                <div class="card">
                    <div class="card-content">
                        <table class="striped highlight ">
                            <thead>
                                <th>Name</th>
                                <th>Actions</th>

                            </thead>
                            <tbody>
                                <tr *ngFor="let p of params">
                                    <td>
                                        <input type="text" [(ngModel)]="p.name" name="p.name" pattern="{{ MetaPattern }}" /></td>
                                    <td>
                                        <a class="btn-flat waves-effect waves-light green" (click)="onUpdate(p)"><i class="material-icons left">update</i></a>
                                        <button class="btn-floating btn-small waves-effect waves-light red" (click)="onDelete(p.id)"><i class="material-icons left">remove</i></button>
                                </tr>
                                <tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>