
@import "~materialize-css/sass/components/color"; /* This must be included to use the included variables and the color function */
$primary-color: color("teal", "lighten-2") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("amber", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;
 

$roboto-font-path: "~materialize-css/fonts/roboto/"; /* This is needed so the materialize.scss file can load the font */
 
 @import "../node_modules/materialize-css/dist/css/materialize.css";

h2{
    color:$primary-color-dark;
}
 .sassTEST{
     color:green;
     font-size: 100px;
 }
body {
  margin: 5;
}

  