 
@import "assets/sass/components/color";  
$primary-color: color("blue-grey", "lighten-2") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("pink", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;
 

$roboto-font-path: "assets/fonts/roboto/";   

 @import "assets/sass/materialize.scss";
  /*
 @import "../node_modules/materialize-css/dist/css/materialize.css";*/
 .sassTEST{
     color:red;
     font-size: 100px;
 }
 
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}