<md-card>
  <md-card-content>
    <div *ngFor="let todo of todos">
      <md-checkbox [(checked)]="todo.completed">
        {{todo.text}}
      </md-checkbox>
      <button md-icon-button color="warn" (click)="removeTodo(todo)">
        <i class="material-icons" md-24>check</i>
      </button>
    </div>

    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div>
        <md-input required placeholder="What do you need to do?" [formControl]="newTodo"></md-input>
      </div>

      <button md-raised-button color="primary" type="submit" [disabled]="!myForm.valid">Add Todo</button>
    </form>

    <br />

    <md-checkbox (change)="toggleAll($event)">
      Mark all as complete
    </md-checkbox>

  </md-card-content>
</md-card>

<md-card>
  <md-card-header>
    <md-card-avatar>
      <img class="md-user-avatar" src="image-source">
    </md-card-avatar>
    <md-card-header-text>
      <span class="md-title">title</span>
      <span class="md-subhead">sub-title</span>
    </md-card-header-text>
  </md-card-header>
  <img ng-src="iamge-source" class="md-card-image" alt="">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">card-headline</span>
      <span class="md-subhead">card-subheadline</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-actions layout="" layout-align="start|center|end|space-around|space-between start|center|end|stretch">
    <md-button>Action 1</md-button>
    <md-button>Action 2</md-button>
    <md-card-icon-actions>
      <md-button class="button-class" aria-label="label">
        content
      </md-button>
    </md-card-icon-actions>
  </md-card-actions>
  <md-card-content>
      content
  </md-card-content>
</md-card>
