<div class="container">
    <div class="card">
        <div class="card-image">
            <img src="/assets/img/backgroundsmall.png">
            <span class="card-title"><h4>SurgiPal</h4></span>
        </div>
        <div class="card-content">
            <p> A physician driven cloud-based preference card system and OR platform for surgeries and procedures. Aiming to reduce waste in the OR and save hospitals money!
            </p>
        </div>
        <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
                <li class="tab"><a href="#test4">Our Services</a></li>
                <li class="tab"><a href="#test5" class="active">Benefits</a></li>
                <li class="tab"><a href="#test6">Who are we..</a></li>
            </ul>
        </div>
        <div class="card-content grey lighten-4">
            <div id="test4"> Doctors, hospitals, ambulatory surgery centers (ASCs) and vendors deserve easy to use tools that facilitate the process of planning, booking and billing for surgeries and procedures. Surgipal was created by a team of physicians to bring surgical
                preference cards into the digital age. Surgipal allows physicians to create, edit and manage their surgery or procedure preference cards online. Doctors and their staff setup, maintain and update their preference cards. Surgeries and procedures
                are scheduled online with preference cards specifically tailored to the patient. Hospitals, ASCs and vendors access these preferences anywhere and anytime for planning and booking purposes. Doctors can bill for surgeries online with the
                simple click of a button. Surgipal keeps a log of all your surgeries and procedures for practice analytics and research purposes. </div>
            <div id="test5">

                <div class="col s2">
                    <div class="btn-floating btn-large waves-effect waves-light teal lighten-5"><i class="material-icons large"></i></div>
                </div>
                <div class="col s10">
                    <h5>Consistent! </h5>
                    Works at all your surgical locations. Change your preferences and all locations will know about it!
                </div>

                <div class="col s2">
                    <div class="btn-floating btn-large waves-effect waves-light  teal lighten-4"><i class="material-icons large"></i></div>
                </div>
                <div class="col s10">
                    <h5>Empowering! </h5>
                    Take over control and ownership of your surgery or procedure preferences with minimal work.
                </div>


                <div class="col s2">
                    <div class="btn-floating btn-large waves-effect waves-light  teal lighten-3"><i class="material-icons large"></i></div>
                </div>
                <div class="col s10">
                    <h5>Accurate! </h5>
                    Do away with generic cards. Every patient is different and surgeries vary. Create personalized surgical preferences specifically designed for your patient so the OR or procedure suite can plan ahead!
                </div>


                <div class="col s2">
                    <div class="btn-floating btn-large waves-effect waves-light  teal lighten-2"><i class="material-icons large"></i></div>
                </div>

                <div class="col s10">
                    <h5>Reassuring! </h5>
                    Doing a case on a weekend without your favorite team? Your preferences are viewable to your staff online anywhere and anytime.
                </div>


                <div class="col s2">
                    <div class="btn-floating btn-large waves-effect waves-light teal lighten-1"><i class="material-icons large"></i></div>
                </div>
                <div class="col s10">
                    <h5>Efficient! </h5>
                    Bill for your surgeries by simply clicking a button. All your cases are logged for data analytics.
                </div>
            </div>

            <div id="test6">


                <div class="row">
                    <div class="col s12  m6">
                        <h4 class="header">Jean Marc Voyadzis, MD FACS</h4>
                        <h6 class="header">Chief Executive Officer</h6>
                        <div class="card horizontal  z-depth-4 hoverable">
                     
                            <div class="card-stacked">
                                <div class="card-content">
                                       <div class="card-image">
                                <img src="/assets/img/jm.jpg" width="100" height="200" align="left" style="padding-right: 5px">
                            </div>
                                    <p c>Jean-Marc Voyadzis, MD, is associate professor in the Department of Neurosurgery and co-director of the Center for Minimally Invasive Spine Surgery at MedStar Georgetown. He is also director of Neurosurgery Service
                                        at Calvert Memorial Hospital in Prince Frederick, Maryland. Dr. Voyadzis earned his medical degree from Georgetown University School of Medicine, where he graduated Summa Cum Laude and received the Kober Medal for
                                        the highest overall record of academic performance. He completed a residency in neurosurgery at MedStar Georgetown University Hospital and a fellowship in complex and minimally invasive spine surgery at the University
                                        of Chicago. With broad interests and expertise in both brain and spinal surgery, he is board certified by the American Board of Neurological Surgery, and is an active member of several neurosurgical societies
                                    </p>
                                    <p>Dr. Voyadzis has published numerous book chapters, journal articles, and abstracts on various topics related to neurosurgery. He has been invited to speak as an expert on spine surgery and has trained surgeons all over
                                        the world, including the United States, Germany, Spain, France, Brazil, and China.
                                    </p>
                                </div>
                                <div class="card-action">
                                    <a href="#">This is a LinkedIn</a>
                                </div>
                            </div>
                        </div>




                    </div>
                    <div class="col s12 m6">

                        <h4 class="header">Raphael Thiney</h4>
                        <h6 class="header">Chief Technology Officer</h6>
                        <div class="card horizontal  z-depth-4 hoverable">
                       
                            <div class="card-stacked">
                                <div class="card-content">
                                        <div class="card-image">
                                     <img src="/assets/img/rt.png"width="100" height="200" align="left" style="padding-right: 5px">
                            </div>
                                    <p>Raphaël Thiney is a buttoned-up technologist with over 20 year of Web/SaaS experience. A graduate from Hobart with a B.Sc. in Computer Science, he’s been a key-man technologist to 3 start-ups, from the first ever movie/music
                                        site where users could not only get the movies they wanted and the music CD’s that were in the movie, too obtaining a commercial mortgage loan online, too figuring out which hedge fund to invest >100M. He was instrumental
                                        in raising over 3M in capital for his 2nd startup, lead by Charles Ferguson (creator of FrontPage later sold to Microsoft). His skills were then further honed by the arcane NYC Hedge Fund industry working at Merrill
                                        Lynch, Credit Suisse, and Cerberus Capital. He then lead team of developers both locally and overseas while Head of Technology for a start-up Hedge-Fund Advisory Group in NYC. He moved his family to D.C. in 2012
                                        and began consulting.
                                    </p>
                                    <p>He focused his efforts in the Healthcare industry where he consulted for the Council for Affordable Quality Heath to streamline the Coordination of Benefits issue facing many payers. Successful, yet bitten by the start-up
                                        bug early in his career, his passion for problem solving and technology led him back to the exciting world of the start-up where he feels at home; building teams and solving hard, industry-wide problems. He strives
                                        for agile and productive teams that deliver excellence by keeping his hands dirty and close to the metal.
                                    </p>
                                </div>
                                <div class="card-action">
                                    <a href="#">This is a LinkedIn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>







            </div>
        </div>

        <!--<div materialize="carousel " class="carousel ">
    <div class="carousel-item "><strong>Empowering!</strong>Take over control and ownership of your surgery or procedure preferences with minimal work</div>
    <a class="carousel-item " href="#two! "><img src="http://lorempixel.com/250/250/nature/2 "></a>
    <a class="carousel-item " href="#three! "><img src="http://lorempixel.com/250/250/nature/3 "></a>
    <a class="carousel-item " href="#four! "><img src="http://lorempixel.com/250/250/nature/4 "></a>
    <a class="carousel-item " href="#five! "><img src="http://lorempixel.com/250/250/nature/5 "></a>
  </div>-->